In [1]:
# Approach Adopted: Random Forest 
# Task: Stock Prediction on the TATA dataset.

# Necessary Imports

import math
import pandas as pd
import datetime as dt
from sklearn import metrics
import numpy as np
from sklearn.model_selection import train_test_split      # For splitting corpus into testing set and training set
from sklearn.linear_model import LinearRegression         # Linear Regression model
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor
from matplotlib.pylab import rcParams
from sklearn.ensemble import RandomForestRegressor
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Process Data, Training Set and Test Set

corpus = pd.read_csv('NSE-TATAGLOBAL.csv')
corpus['Date'] = pd.to_datetime(corpus.Date, format = '%Y-%m-%d')
corpus.index = corpus['Date']

corpus['Date'] = corpus['Date'].map(dt.datetime.toordinal)
x = corpus[['Date']].values                               # Values being given to the model.
y = corpus[['Close']].values                                                            # Desired outputs
trainX, testX, trainY, testY = train_test_split(x,y,test_size=0.2, random_state = 0)    # 20% of corpus given to test set.
corpus.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
Date,,,,,,,,
2018-09-28,736965,234.05,235.95,230.20,233.50,233.75,3069914,7162.35
2018-09-27,736964,234.55,236.80,231.10,233.80,233.25,5082859,11859.95
2018-09-26,736963,240.00,240.00,232.50,235.00,234.25,2240909,5248.60
2018-09-25,736962,233.30,236.75,232.00,236.25,236.10,2349368,5503.90
2018-09-24,736961,233.55,239.20,230.75,234.00,233.30,3423509,7999.55

In [3]:
model = RandomForestRegressor()
model.fit(trainX, trainY)

predictions = model.predict(testX)

<ipython-input-3-5a6418f07680>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(trainX, trainY)

In [4]:
result = pd.DataFrame({'Desired':testY.flatten(), 'Predicted': predictions.flatten()})
result.head()

   Desired  Predicted
0   134.95   134.3710
1   145.35   144.4880
2   157.10   156.4080
3   152.15   150.2745
4   112.05   109.6960

In [5]:
# Find Root Mean Squared Error

np.sqrt(np.mean(predictions-testY)**2)       # Predicted - actual

0.40544348894349397